@model HOL3.Models.User

@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>
@using (Html.BeginForm("SaveUser", "Home"))
{
    <p>
        User Name: <input type="text" name="@Html.TextBoxFor(user => user.UserName)" />
    </p>

    <p>
        Password: <input type="password" name="@Html.PasswordFor(user =>user.Password)" />
    </p>

    <input type="submit" value="Add User" />
}


